@model IEnumerable<SystemZarzadzaniaFinansami.Models.Expense>

@{
    ViewData["Title"] = "Moje Wydatki";
}

<h1>Wydatki</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Login użytkownika
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var userEmail = User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @userEmail
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
